.new_arrivals_sorting
{
	display: inline-block;
	border-radius: 3px;
	margin-top: 59px;
	overflow: visible;
}
.grid_sorting_button
{
	height: 40px;
	min-width: 102px;
	padding-left: 25px;
	padding-right: 25px;
	cursor: pointer;
	border: solid 1px #ebebeb;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	background: #FFFFFF;
	border-radius: 3px;
	margin: 0;
	float: left;
	margin-left: -1px;
}
.grid_sorting_button:first-child
{
	margin-left: 0px;
}
.grid_sorting_button:last-child
{

}
.grid_sorting_button.active:hover
{
	background: #FE7C7F !important;
}
.grid_sorting_button.active
{
	color: #FFFFFF;
	background: #fe4c50;
}