:local(.add_to_cart_button)
{
	width: 100%;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
:local(.add_to_cart_button) a
{
	font-size: 12px;
	font-weight: 600;
}
.hidden {
	visibility: hidden;
	opacity: 0;
}
.product-item:hover :local(.add_to_cart_button)
{
	visibility: visible;
	opacity: 1;
}