.sidebar_categories li.active a
{
	color: #fe4c50;
}
.sidebar_categories li.active:hover a
{
	color: #fe4c50;
}
.sidebar_categories li a
{
	font-size: 14px;
	line-height: 40px;
	color: #51545f;
}
.sidebar_categories li a:hover
{
	color: #b5aec4;
}
.sidebar_categories li a span
{
	margin-right: 5px;
}