/*********************************
7. Main Content
*********************************/
.product_section_container
{
	margin-top: 150px;
}

.main_content
{
	float: left;
	width: calc(100% - 200px);
	padding-left: 34px;
}

.sidebar
{
	float: left;
	width: 200px;
	padding-right: 17px;
}